<p>Appointments:</p>
<% @patient.appointments.each do |appointment| %>
  <div><%= Doctor.find(appointment.doctor_id)%><br>
  <%= link_to appointment.date, patient_appointment_path(appointment.id) %><br>
  </div>
<% end %>