<h3> <%= @doctor.name%>'s Patients<br>
<% @doctor.patients.each do |patient| %>
  <div><%= link_to patient.name, doctor_patient_path(@doctor.id, patient.id) %><br>
  </div>
<% end %><br>

<h3>Patients without appointment<h3>
<% @p.each do |patient|%>
<%= patient.name%><br>
<%end%><br><br>

<h3>Create an appointment for a patient<h3><br>
<% @all_patients.each do |patient| %>
<%= link_to "New Appointment for #{patient.name}", new_patient_appointment_path(patient.id)%><br>
<%end%><br>
