<p>Appointments:</p>
<% @doctor.appointments.each do |appointment| %>
  <div><%= appointment.patient%><br>
  <%= link_to appointment.date, doctor_appointment_path(@doctor.id, appointment.id) %><br>
  </div>
<% end %>