<p>Appointments:</p>
<% @doctor.appointments.each do |appointment| %>
  <div><%= Patient.find(appointment.patient_id)%><br>
  <%= link_to appointment.date, doctor_appointment_path(appointment.id) %><br>
  </div>
<% end %>