<h3> <%= @doctor.name%>'s Patients<br>
<% @doctor.patients.each do |patient| %>
  <div><%= link_to patient.name, doctor_patient_path(patient.id) %><br>
  </div>
<% end %>

<h3>Patients without appointment<h3>
<% @patients_without_appointment.each do |patient|%>
<%= patient.name%><br>
<%end%><br>

<h3>Create an appointment for a patient<h3><br>
<%= link_to "New Appointment", "/appointments/new"%>