<h3>Appointment Info<h3>
<%= @appointment.entry_date_formatted%><br>
<%= @appointment.doctor%><br>
<%= @appointment.patient%>
<% if @appointment.doctor_prescription%>
<%= @appointment.doctor_prescription%>
<%else%>
<h3>There are no prescriptions yet</h3>
<%end%>
