<h1>Doctor Patient Appointment App</h1><br>

<h3>This app will allow patients to have appointments with each doctor<br>
as well as doctors to be able to prescribe medicins to patients</h3>

<%= link_to "Doctor's Sing Up", "/doctors/new"%><br>
<%= link_to "Doctor's Login", "/doctors/login"%><br>
<%= link_to "Patient's Sing Up", "/patients/new"%><br>
<%= link_to "Patient's Login", "/patients/login"%>